## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../../data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../../data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
data_shape = app_train.shape

In [6]:
data_shape[0] # row數

307511

In [7]:
data_shape[1] # column數

122

#### 列出所有欄位

In [8]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

擷取其中一個 row

In [9]:
app_train.ix[0,:]

/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

SK_ID_CURR                                           100002
TARGET                                                    1
NAME_CONTRACT_TYPE                               Cash loans
CODE_GENDER                                               M
FLAG_OWN_CAR                                              N
FLAG_OWN_REALTY                                           Y
CNT_CHILDREN                                              0
AMT_INCOME_TOTAL                                     202500
AMT_CREDIT                                           406598
AMT_ANNUITY                                         24700.5
AMT_GOODS_PRICE                                      351000
NAME_TYPE_SUITE                               Unaccompanied
NAME_INCOME_TYPE                                    Working
NAME_EDUCATION_TYPE           Secondary / secondary special
NAME_FAMILY_STATUS                     Single / not married
NAME_HOUSING_TYPE                         House / apartment
REGION_POPULATION_RELATIVE                         0.018801
DAYS_BIRTH                                            -9461
DAYS_EMPLOYED                                          -637
DAYS_REGISTRATION                                     -3648
DAYS_ID_PUBLISH                                       -2120
OWN_CAR_AGE                                             NaN
FLAG_MOBIL                                                1
FLAG_EMP_PHONE                                            1
FLAG_WORK_PHONE                                           0
FLAG_CONT_MOBILE                                          1
FLAG_PHONE                                                1
FLAG_EMAIL                                                0
OCCUPATION_TYPE                                    Laborers
CNT_FAM_MEMBERS                                           1
                                          ...
DEF_30_CNT_SOCIAL_CIRCLE                                  2
OBS_60_CNT_SOCIAL_CIRCLE                                  2
DEF_60_CNT_SOCIAL_CIRCLE                                  2
DAYS_LAST_PHONE_CHANGE                                -1134
FLAG_DOCUMENT_2                                           0
FLAG_DOCUMENT_3                                           1
FLAG_DOCUMENT_4                                           0
FLAG_DOCUMENT_5                                           0
FLAG_DOCUMENT_6                                           0
FLAG_DOCUMENT_7                                           0
FLAG_DOCUMENT_8                                           0
FLAG_DOCUMENT_9                                           0
FLAG_DOCUMENT_10                                          0
FLAG_DOCUMENT_11                                          0
FLAG_DOCUMENT_12                                          0
FLAG_DOCUMENT_13                                          0
FLAG_DOCUMENT_14                                          0
FLAG_DOCUMENT_15                                          0
FLAG_DOCUMENT_16                                          0
FLAG_DOCUMENT_17                                          0
FLAG_DOCUMENT_18                                          0
FLAG_DOCUMENT_19                                          0
FLAG_DOCUMENT_20                                          0
FLAG_DOCUMENT_21                                          0
AMT_REQ_CREDIT_BUREAU_HOUR                                0
AMT_REQ_CREDIT_BUREAU_DAY                                 0
AMT_REQ_CREDIT_BUREAU_WEEK                                0
AMT_REQ_CREDIT_BUREAU_MON                                 0
AMT_REQ_CREDIT_BUREAU_QRT                                 0
AMT_REQ_CREDIT_BUREAU_YEAR                                1
Name: 0, Length: 122, dtype: object

擷取其中一個 column

In [10]:
app_train[app_train.columns[0]]

0         100002
1         100003
2         100004
3         100006
4         100007
5         100008
6         100009
7         100010
8         100011
9         100012
10        100014
11        100015
12        100016
13        100017
14        100018
15        100019
16        100020
17        100021
18        100022
19        100023
20        100024
21        100025
22        100026
23        100027
24        100029
25        100030
26        100031
27        100032
28        100033
29        100034
           ...
307481    456225
307482    456226
307483    456227
307484    456228
307485    456229
307486    456230
307487    456231
307488    456232
307489    456233
307490    456234
307491    456235
307492    456236
307493    456237
307494    456238
307495    456239
307496    456240
307497    456241
307498    456242
307499    456243
307500    456244
307501    456245
307502    456246
307503    456247
307504    456248
307505    456249
307506    456251
307507    456252
307508    456253
307509    456254
307510    456255
Name: SK_ID_CURR, Length: 307511, dtype: int64

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子